[default.cluster]
backend = "ssh"
job_base_dir = "~/slurm_jobs"

[default.cluster.backend_config]
hostname = "login.example.com"
username = "slurm-user"
banner_timeout = 30

[default.packaging]
type = "wheel"
python_version = "3.9"

[default.submit]
account = "research"
partition = "cpu"